.header {
    justify-content: space-between;
    /*--> justify-content: flex-start --> then the nav items will be coming just after logo looking left aligned */
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.logo {
    width: 200px
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.res-card {
    width: 200px;
    height: 450px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.res-card:hover {
    border: 1px solid rgb(60, 63, 242);
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.restrauntContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}